@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    font-family: 'Montserrat', 'Roboto', 'Geist', sans-serif;
    @apply bg-white text-black dark:bg-black dark:text-white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: 
      linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 40px 40px;
    background-attachment: fixed;
  }
  
  .dark body {
    background-image: 
      linear-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
    background-size: 40px 40px;
    background-attachment: fixed;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  .text-muted-foreground {
    @apply text-gray-500 dark:text-gray-400;
  }
}
